.myPost{
    display: flex;
    justify-content: center;

}

.myPost .leftCamp{
    display: flex;
    flex-direction: column;
    width: 50%;
}


.myPost .leftCamp form{
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 2px solid black;
}

.myPost .leftCamp form div {
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
}

.myPost .rightCamp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.myPost .rightCamp img{
    width: 100%;
    height: 100%;
    min-height: 300px;
    max-height: 600px;
    object-fit: contain;
}

.myPost .POSTbutton{
    flex: 1;
    background-color: black;
    border: none;
    color: aliceblue;
    font-size: 1.1em;
    cursor: pointer;
}
.inputCampIMG{
    border: 2px solid black;
    width: 90%;
    padding: 1%;
}

@media (width <= 1000px){
    .myPost{
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .myPost .leftCamp{
        height: 60%;
        width: 80%;
    }
    .inputCampIMG{
        height: 150px;
    }    
}
